<md-card class="md-padding">
    <md-list>
        <md-subheader>All Users</md-subheader>
        <mdlist-item class="md-1-line" layout="column">
            <md-input-container>
                <label>Filter by name</label>
                <input ng-model="vm.filter.name">
            </md-input-container>
        </mdlist-item>

        <mdlist-item class="md-1-line" layout="column">
            <md-input-container>
                <label>Filter by email</label>
                <input ng-model="vm.filter.email">
            </md-input-container>
        </mdlist-item>
        <md-list-item class="md-3-line" ng-repeat="user in vm.users | filter:vm.filter">
            <div class="md-list-item-text" layout="column">
                <h3>{{user.name}}</h3>
                <h4>{{user.email}}</h4>
                <p>{{user.address.street}}, {{user.address.suite}}, {{user.address.city}}, {{user.address.zipcode}}</p>
            </div>
            <md-button ng-href="/users/{{user.id}}/posts">Posts</md-button>
            <md-button ng-href="/users/{{user.id}}/todos">Todos</md-button>
        </md-list-item>
    </md-list>
</md-card>

