<md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
        <a ng-href="/" flex class="md-primary">
            <h2>DevPlant Library Application</h2>
        </a>
        <h3 ng-if="vm.principal">Logged in as: {{vm.principal.email}}</h3>
        <md-button ng-href="/login" ng-if="!vm.principal">
            Login
        </md-button>
        <md-button ng-href="/register" ng-if="!vm.principal">
            Register
        </md-button>
        <md-button ng-click="vm.logout()" ng-if="vm.principal">
            Logout
        </md-button>

        <md-button ng-href="/admin/" ng-if="vm.principal.admin">
            Admin
        </md-button>
    </div>
</md-toolbar>